@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

.modalContainer{
  display:flex;
  width:60vw;
  height:70vh;
  border:1px solid #222;
  background-color:cornsilk;
  margin:55px auto;
  position: fixed;
  top:10%;
  left:20%;
  box-shadow: 2px 2px 5px rgb(63, 62, 62);
  border-radius: 15px;
  gap:15px;
  font-family: 'Sriracha', cursive;
}



.closeBtn::after{
  position: absolute;
  content: " + ";
  transform:rotate(45deg);
  font-size:30px;
  color: #222;
  cursor: pointer;
  right: 10px;
}

.modalDogImage{
  width: 350px;
  height: 300px;
  box-sizing: border-box;
  border-radius: 10px;
}

@-webkit-keyframes pop-in {
    
0% { opacity: 0; -webkit-transform: scale(0.5); }
100% { opacity: 1; -webkit-transform: scale(1); }
}
@-moz-keyframes pop-in {
0% { opacity: 0; -moz-transform: scale(0.5); }
100% { opacity: 1; -moz-transform: scale(1); }
}

@keyframes pop-in {
0% { opacity: 0; transform: scale(0.5); }
100% { opacity: 1; transform: scale(1); }
}





.abut-div{
    padding-left: 22px;
    text-align: left;
    margin-top: 45px;
    font-size: 20px;
}

.name-div{
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

.img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation-name: pop-in;
    animation:pop-in 0.5s;
}