@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

body {
  /* background: linear-gradient(
      rgba(255, 255, 255, 0.100),
      rgba(255, 255, 255, 0.100)),url("./images/dog\ pic.jpeg") no-repeat fixed 0px / cover;*/
  background: url("./images/dog\ pic.jpeg") no-repeat fixed 0px / cover;

  font-family: "Sriracha", cursive;
}

.nameImg-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.images {
  height: 180px;
  width: 180px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px black;
}

.content-div {
  height: 300px;
  width: 225px;
  padding: 10px 20px;
}

.pic-name-div {
  height: 280px;
  width: 220px;
  background-color: rgba(255, 228, 196, 0.479);
  box-sizing: border-box;
  transform: scale(1);
  transition: transform 0.5s, opacity 0.5s;
  padding-top: 10px;
}

.pic-name-div:hover {
  transform: scale(1.03);
  opacity: 0.9;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 10px;
  border: black solid 1px;
}

.name {
  padding-top: 0;
  margin-top: 0px;
  /* color: rgb(247, 240, 232); */
  font-size: 22px;
}

.nav-bar {
  display: flex;
  width: 100%;
  text-align: center;
  color: rgb(250, 223, 193);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px black;
  border-bottom: solid black 3px;
  text-transform: uppercase;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* background-color: rgba(202, 67, 14, 0.384); */
}

.nav-bar h1 {
  font-size: 42px;
}
